*{
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background:#f6fbf8 ;
    color:#2c3e50 ;
}

/*navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px ;
    background:#eaf7f0 ;
}

.logo{
    font-size: 30px  ;
    font-weight: 700;
    color: #2ecc71;
}

.nav-items{
    position: relative;
  font-weight: 500;
  cursor: pointer;
  color: #2c3e50;
  padding-bottom: 5px;
  text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 25px;
}


.action{
    margin-left: 10px;
}

/*button*/

.btn-primary{
    background: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-outline{
    background:transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/*menu principal*/

.debut{
    display:flex ;
    align-items:center ;
    padding: 60px 60px ;
}

.debut-texte{
    width:55% ;
}

.debut-texte h1{
    font-size:42px ;
    margin-bottom: 20px;
}

.debut-texte samp{
    color: #2ecc71;
}

.debut-texte p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-button{
    margin-right: 15px;
}

.hero-image{
    width: 45%;
    text-align: center;
}

.hero-image img{
    width: 80%;
}

.olivia{
    padding: 80px 60px;
    background: white;
    text-align: center;
}

.olivia h2{
    font-size: 32px;
    margin-bottom: 50px;
}

.olivia span{
    color: #2ecc71;
}

.steps{
    display: flex;
    justify-content: space-around;
}

.step{
    width: 30%;
    padding: 20px;
}

.step img{
    width: 200px;
    margin-bottom: 20px;
}

.step h3{
    margin-bottom: 10px;
}

.nav-items::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background: #2ecc71;
  border-radius: 5px;
  transition: width 0.3s ease;
}


.nav-items:hover::after{
    width: 100%;
}






